.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.profile-image {
  background-color: #ffffff;
  width: 100px;
  margin-top: 31px;
}

.profile-heading {
  font-size: 20px;
  color: #12022f;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #616e7c;
  text-align: center;
}
